NEXT_PUBLIC_API_BASE_URL=/dev-api
NEXT_PUBLIC_RESUME_PREVIEW_URL=https://lgdsunday.club/

# Local NestJS backend API endpoint
BACKEND_API_URL=http://localhost:3000

# Remote test NestJS backend server (optional)
# BACKEND_API_URL=http://101.36.122.110:3000
